In [1]:
import pandas as pd
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
# creds
from config import username, password

In [2]:
file_1 = "yelp_user.csv"
file_2 = "yelp_review.csv"

In [3]:
users = pd.read_csv(file_1, encoding='utf-8-sig')
reviews = pd.read_csv(file_2)

In [4]:
#I sliced the dataframe from 1.2 million to 50,000. The file was too big for my version of mysql(non-enterprise)
users_df = users[:50000]
users_df.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0

In [5]:
#I sliced the dataframe from 1.2 million to 50,000. The file was too big for my version of mysql(non-enterprise)
reviews_df = reviews[:50000]
reviews_df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [6]:
users_df.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'friends', 'useful',
       'funny', 'cool', 'fans', 'elite', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [7]:
#Had to convert user id as a string to make it compatible with mysql local database
users_df['user_id'] = users_df['user_id'].astype('str') 
users_df['name'] = users_df['name'].astype('str')
reviews['user_id'] = reviews['user_id'].astype('str')

/Users/chrisboeckner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/chrisboeckner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
reviews_df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [9]:
#just getting the columns I need
new_users = users_df[['user_id', 'review_count', 'useful', 'funny', 'fans']].copy()
new_users.head()

                  user_id  review_count  useful  funny  fans
0  JJ-aSuM4pCFPdkfoZ34q0Q            10       0      0     0
1  uUzsFQn_6cXDh6rPNGbIFA             1       0      0     0
2  mBneaEEH5EMyxaVyqS-72A             6       0      0     0
3  W5mJGs-dcDWRGEhAzUYtoA             3       0      0     0
4  4E8--zUZO1Rr1IBK4_83fg            11       4      0     0

In [10]:
#just getting the columns I need
new_reviews = reviews_df[['user_id', 'stars']].copy()
new_reviews.head()

                  user_id  stars
0  bv2nCi5Qv5vroFiqKGopiw      5
1  bv2nCi5Qv5vroFiqKGopiw      5
2  bv2nCi5Qv5vroFiqKGopiw      5
3  bv2nCi5Qv5vroFiqKGopiw      4
4  bv2nCi5Qv5vroFiqKGopiw      4

In [12]:
#connect to local mysql server
engine = create_engine(f'mysql://{username}:{password}@localhost:3306/yelp_2')

In [16]:
#double checking if the tables I created using sql workbench is accessible
engine.table_names()

['reviews_new1', 'users_new']

In [17]:
#Saving pandas dataframe to mysql local database/server
new_reviews.to_sql(name='reviews_new1', con=engine, if_exists='append', index=False)

In [18]:
#Saving pandas dataframe to mysql local database/server
new_users.to_sql(name='users_new', con=engine, if_exists='append', index=False)

In [19]:
#check if data are saved in local database
pd.read_sql('select * from users_new', con=engine).head()

                  user_id  review_count  useful  funny  fans
0  --0WZ5gklOfbUIodJuKfaQ             8       0      0     0
1  --3l8wysfp49Z2TLnyT0vg           111      97     57     2
2  --4uW4yJiRT2oXMYkCPq1Q            50       3      2     2
3  --9kVKrIDkSP6lqK2PDTDw             1       0      0     0
4  --FtMNXFtTE_KixNgPD1AQ             1       0      0     0

In [20]:
#check if data are saved in local database
pd.read_sql('select * from reviews_new1', con=engine).head()

                  user_id  stars
0  bv2nCi5Qv5vroFiqKGopiw      5
1  bv2nCi5Qv5vroFiqKGopiw      5
2  bv2nCi5Qv5vroFiqKGopiw      5
3  bv2nCi5Qv5vroFiqKGopiw      4
4  bv2nCi5Qv5vroFiqKGopiw      4